.jumbotron{
    text-align: center;
    background: none;
}
.sectionLight{
    background-color: lightgray;
}
.sectionLight-2{
    background-color: lightgray;
  
}
.image-txt{
    color: lightseagreen;
}
.sectionDark{
    background-color: rgb(179, 178, 178);
  
}
.row{
    padding-bottom: 15px;
    padding-top: 15px;
}
.cool-button{
    display: block;
    margin: auto;
    background-color: red;
    color: white;
}
.cool-button-2{
    display: block;
    margin: auto;
    background-color:blue;
    color: white;
}
.modal-title{
    margin: auto;
}
.imageTransfer{
    display: block;
    margin: auto;
}
.change-img{
    display: block;
    margin: auto;
}
.container-fluid{
    padding:0;
}
.paddingCarousel{
    padding:0 2px 0 2px;
}
.paragraphPadding{
    padding-top: 10px;
}
