
.jumbotron{
    text-align: center;
    background: none;
}
.sectionLight{
    background-color: lightgray;
}
.sectionLight-2{
    background-color: lightgray;
}
.image-txt{
    color: lightseagreen;
}
.sectionDark{
    background-color: white; 
}
.row{
    padding-bottom: 15px;
    padding-top: 15px;
}
.cool-button{
    display: block;
    margin: auto;
    background-color: red;
    color: white;
}
.cool-button-2{
    display: block;
    margin: auto;
    background-color:lightseagreen;
    color: white;
}
.modal-title{
    margin: auto;
}
.imageTransfer{
    display: block;
    margin: auto;
}
.change-img{
    display: block;
    margin: auto;
}
.container-fluid{
    padding:0;
    margin: 0;
}
.paragraphPadding{
    padding-top: 10px;
}
.footer-style{
    background-color: lightslategrey;
    margin: auto;
}
ul.ul-style{
    list-style: none;
    display: block;
    margin: auto;
}
.float-list{
    float: left;

    margin:5px 8px 5px 8px;
    color: white;
}
a.anchor-tag{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;   
}
